:root {
  --ivory: #fffff0;
  --white: #ffffff;
  --dimgray: #696969;
  --darkkhaki: #a49d49;
  --black: #000000;
}

.topbar {
  width: 100%;
  height: 50px;
  background-color: var(--ivory);
  color: var(--dimgray);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center; /* aligns items/content inside this parent vertically center. */
  font-family: "Ubuntu", sans-serif;
}

.topbar-left,
.topbar-right {
  flex: 3; /* Occupy 3 columns from total of 12 parts. */
  display: flex;
  align-items: center; /* aligns items/content inside this parent vertically center. */
  justify-content: center; /* aligns items/content inside this parent horizontally center. */
}

.topbar-center {
  flex: 6; /* Occupy 6 columns from total of 12 parts. */
}

.topbar-profile-pic {
  width: 42px;
  height: 42px;
  border-radius: 50%; /* It will make image circle. */
  object-fit: cover; /* It will resize the image to the container size. */
}

.topbar-social-icon {
  margin-right: 12px;
  cursor: pointer;
  font-size: 22px;
  color: var(--darkkhaki);
}

.topbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topbar-list-item {
  margin-right: 22px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 300;
  color: var(--darkkhaki);
}

.topbar-search {
  color: var(--darkkhaki);
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
}
