:root {
  --ivory: #fffff0;
  --white: #ffffff;
  --dimgray: #696969;
  --darkkhaki: #a49d49;
}

.sidebar-section {
  flex: 3; /* Occupy 3 of 12 parts. So that listing can take 9 parts. */
  margin: 20px;
  padding-bottom: 32px;
  background-color: var(--ivory);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-title {
  text-transform: uppercase;
  margin: 12px;
  padding: 6px;
  border-top: 1px solid var(--darkkhaki);
  border-bottom: 1px solid var(--darkkhaki);
  font-family: "Raleway", sans-serif;
  line-height: 22px;
  font-weight: 600;
}

.sidebar-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-top: 10px;
}

.sidebar-subsection > p {
  padding: 28px;
  text-align: center;
}

.sidebar-categories {
  list-style-type: none;
  margin-bottom: 25px;
}

.sidebar-category {
  display: inline-block;
  width: 50%;
  text-align: center;
  margin-top: 12px;
  cursor: pointer;
}

.sidebar-social-icons {
  margin-top: 12px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-social-icon {
  margin-right: 12px;
  cursor: pointer;
  font-size: 22px;
  color: var(--darkkhaki);
}