.listing-detail {
  flex: 9;
}

.listing-detail-content {
  padding: 20px 0px 20px 20px;
}

.listing-detail-img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 4px;
}

.listing-detail-title {
  text-align: center;
  font-size: 38px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin: 10px 0; /* margin on y axis 10px and x-axis 10px */
}

.listing-detail-action {
  float: right;
  font-size: 30px;
}

.listing-detail-action-icon {
  font-size: 24px;
  margin-left: 12px;
  cursor: pointer;
}

.listing-detail-action-icon:first-child {
  /* target the first action button */
  color: var(--green-500);
}

.listing-detail-action-icon:last-child {
  /* target the first action button */
  color: var(--red-500);
}

.listing-detail-meta-info {
  display: flex;
  justify-content: space-between; /* give equal space between the child items. */
  font-size: 18px;
  color: var(--gray-700);
  margin-bottom: 22px;
}

.listing-detail-description {
  line-height: 24px; /* Vertical gap between 2 lines. */
  font-size: 16px;
  color: var(--gray-800);
}

.listing-detail-description::first-letter {
  /* Target the first letter. */
  margin-left: 15px;
  font-size: 24px;
  font-weight: 650;
  color: var(--darkkhaki);
}
